.AboutContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding-bottom: 20px;
  }
  
  .LeftContainer {
    text-align: left;
    height: 80vh;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    animation: slideInFromLeft 4s ease-in-out;
  }
  
  @keyframes slideInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .RightContainer {
    background-color: rgb(217, 216, 214);
    height: 80vh;
    width: 80vh;
    border-radius: 50%;
    margin-top: 10px;
    animation: slideInFromRight 1s ease-in-out;
  }
  
  @keyframes slideInFromRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .Heading {
    color: rgb(70, 69, 69);
    font-size: 5.5rem;
    font-weight: 600;
    text-align: left;
  }
  .SubHeading{
    font-size: 1.7rem;
    font-weight: 400;
    color: rgb(90, 90, 90);

  }
  .Data{
    padding-top: 20px;
    font-size: 1.3rem;
    font-weight: 100;
  }
  .GreyBackground{
    box-shadow: 2px 2px 5px 2px rgba(139, 139, 139, 0.3);
    border-top: 1px solid rgb(218, 215, 215);
    border-bottom: 1px solid rgb(218, 215, 215);
    box-shadow: 2px 2px 5px 2px rgba(139, 139, 139, 0.3);
    background-color: rgb(237, 234, 234);
  }
  .RandomHeading{
    font-size: 3rem;
    font-weight: 300;
    color: rgb(90, 90, 90);
    padding:1rem;
  }
  .RandomRight{
    text-align: left;
    padding: 1rem;
    width: 50vw;
    height: 80vh;
    animation: slideInFromRight 1s ease-in-out;
  }
  .RandomLeft{
    height: 80vh;
    margin-top: 10px;
    width:50%;
    animation: slideInFromLeft 4sec ease-in-out;

  }
  .SkillContainer{
    width:100vw;
    height:90vh;
    padding-top: 3rem;
  }
  .SkillContainer h1{
    text-align: right;
    font-size: 3rem;
    font-weight: 300;
    color: rgb(90, 90, 90);
    padding:1rem;
  }
  .MystoryLeft{
    height: 80vh;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
  }
  .MystoryRight{
    height:80vh;
    width:50%;
    text-align: center;
  }
  .SmallContainer{
    width:50%;
  }
  .InnerContainer{
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin:auto;
  }
  .ReadmeButton{
    border: none;
    font-size: 20px;
    color: rgb(90, 90, 90);
    background-color: rgb(237, 234, 234);
    text-decoration: underline;
  }
  .ReadmeButton:hover{
    cursor: pointer;
  }
  
  @media screen and (max-width: 1000px) {
    .AboutContainer {
      display: flex;
      flex-direction: column;
    }
    .LeftContainer {
      width: 100%;
    }
    .RightContainer {
      width: 100%;
    }
    .RandomLeft{
      width:90vw;
    }
    .RandomRight{
      width:90vw;
      text-align: center;

    }
    .SmallContainer{
      width:100%;
      text-align: left;
    }
    .InnerContainer{
      display: flex;
      flex-direction: column;
    }
    .MystoryLeft{
      width: 100%;
    }
    .MystoryRight{
      width: 100%;
    }
  }
  
  @media screen and (max-width: 700px) {
    .MystoryLeft{
      height: 80vh;
      width:80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .MystoryRight{
      height:80vh;
      width:80%;
      text-align: center;
    }
  }