.AboutContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.AboutContainer a{
    margin-left: 0px !important;
}

.ReadmeButton{
    border: none;
    text-decoration: underline;
    font-size: 20px;
    color: rgb(126, 126, 126);
    background-color: inherit;
}
.ReadmeButton:hover{
    cursor: pointer;
}

.PaddingLeft{
    padding-left: 4%;
}
.Border{
    border:10px solid white;
    border-radius: 10px; 
}
.ResumeButton{
    padding: .8rem 3.5rem;
    background-color: #525151;
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    margin-top:5%;
}

.ResumeButton :hover{
    cursor: pointer;
}


@media screen and (max-width: 1000px) {
.AboutContainer{
    display: flex;
    flex-direction: column;
}
}
@media screen and (max-width: 700px) {
.ResumeButton{
    padding: .5rem 2.5rem;

}
}