.ContactContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.LogoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.LogoContainer a{
    height:50%;
    width:20%;
    margin-left: 0px;
}
.EmailContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.EmailInnerContainer{
    display: flex;
    flex-direction: row;
    width:100%;
}

.Border{
    border: 1px solid rgb(104, 104, 104);

}
.ShorterDiv{
    width:80%;
}
.ButtonDiv{
    display: flex;
    justify-content: right;
    width: 80%;
}
.EmailButton{
    padding: 1rem 3.5rem;
    background-color: #525151;
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 5px;
}
.Label{
    text-align: left;
    font-size: 1.3rem;
}

@media screen and (max-width: 1000px) {
    .ContactContainer{
        display: flex;
        flex-direction: column;
    }
    .EmailInnerContainer{
        display: flex;
        flex-direction: column;
    }
    .ShorterDiv{
        width:100%;
    }
    .ButtonDiv{
        width: 100%;
    }
    }
@media screen and (max-width: 500px) {
    .ButtonDiv{
        display: flex;
        justify-content: center;

    }
    .EmailButton{
        padding:10px 20px;
    }
}