.Footer{
    width:100% !important;
    height:fit-content;
    padding: 0px !important;
    margin: 0px !important;
}
.FooterContainer{
    width: 70%;
    padding: 15px;
}
.FooterLink{
    color: rgb(166, 165, 165) !important;
}
.Footer a{
    font-size: 20px !important;
}
.Copyright{
    color: rgb(137, 136, 136) !important;
    font-size: 20px !important;
}
.Copyright i{
    font-size: 20px !important;
}
@media screen and (max-width:700px) {
    .FooterInnerContainer{
        display: none ;
    }
}