.PortfolioContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.PortfolioImage img {
  margin-top:10vh ;
  width: 100%;
  height:100%;
}

.LogoContainer{
  width:100%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.TextLeft{
  text-align: left;
}

.CenterCard{
  width:50%;
  margin: auto;
  margin-top: 5%;
  text-align: left;
  opacity: 0.9;
}
.Heading{
  text-align: left;
  font-size: 2.5rem;
  color: rgb(90, 90, 90);
}

.ProjectContainer{
    height: 80vh;
    position: relative;
    overflow: hidden; /* Hide overflow to ensure nothing spills out */
    position: relative;

    box-shadow: 2px 2px 5px 2px rgba(139, 139, 139, 0.3);
    border-top: 1px solid rgb(218, 215, 215);
    border-bottom: 1px solid rgb(218, 215, 215);
    box-shadow: 2px 2px 5px 2px rgba(139, 139, 139, 0.3);
    background-color: rgb(246, 244, 244);
    
}
.Project{
  display: flex;
  flex-direction: row;
  width:100%;

  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.ProjectImage{
  position: absolute;
  height: auto;
}
.ProjectDetails{
  font-size: 1.4rem;
}

.bblaptop {
  width: 70vh;
  position: absolute;
  margin-top: -50%;
  margin-left: 17%;
}

.bblargescreen {
  height: 63vh !important;
  position: absolute;
  margin-left: 3%;
  margin-top: -50%;
}
.bbmobile {
  height: 43vh;
  margin-left: 39%;
  margin-top: -47%;
  position: absolute;

}
.bbtab {
  height: 75vh;
  margin-left: -7%;
  margin-top: -68%;
  position: absolute;
}
.ssp_laptop{
  height: 40vh;
  margin-top: -120%;
  position: absolute;
  margin-left: 18%;
}
.ssp_largescreen{
  height: 63vh;
  position: absolute;
  margin-top: -120%;
  margin-left: 4%;
}
.ssp_mobile{
  height: 43vh;
  margin-top: -115%;
  position: absolute;
  margin-left: 38%;
}
.ssp_tab{
  height: 78vh;
  margin-top: -138%;
  position: absolute;
  margin-left: -8%;
}
.pands_Laptop{
  margin-left: 13%;
  margin-top: -197%;
  position: absolute;
  height: 42vh;

}
.pands_Largescreen{
  position: absolute;
  margin-top: -195%;
  height: 62vh;
  margin-left:5%;

}
.pands_Mobile{
  position: absolute;
  margin-top: -193%;
  height: 47vh;
  margin-left: 38%;
}
.pands_Tab{
  position: absolute;
  margin-top: -211%;
  height: 73vh;
  margin-left: -8%;

}
.candc_Laptop{
  position: absolute;
  height: 43vh;
  margin-left: 15%;
  margin-top: -161%;
}
.candc_Largescreen{
  position: absolute;
  margin-top: -270%;
  height: 66vh;
}
.candc_Mobile{
  position: absolute;
  height: 47vh;
  margin-top: -266%;
  margin-left: 35%;
}
.candc_Tab{
  position: absolute;
  height: 76vh;
  margin-left: -10%;
  margin-top: -285%;
}
.ImageContainer{
  width:97%;
  height: 100%;
  position: relative;
  opacity: .9;
}

.PortfolioLeftContainer{
  width:30%;
  margin-left: 5%;
  box-shadow: 0 0 5px 10px rgb(246, 244, 244);
}
@media screen and (max-width: 1200px) {
  .PortfolioContainer{
    display: flex;
    flex-direction: column;
  }
  .PortfolioLeftContainer{
    width:50%;
    margin-left: 15%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 244, 244);
    opacity: 0.9;
  }
  .TextLeft{
    text-align: center;
  }
  .bbtab {
    height: 86vh;
    margin-left: -40%;
  }
  .bbmobile {
    margin-left:24% ;
    height: 50vh;
    
  }
  .bblargescreen {
    margin-left:-25% ;
    height: 65vh !important;
  }
  .bblaptop {
    margin-left:4% ;
    height: 45vh;
  }
  .ImageContainer{
    width:97%;
    margin: auto;
  }
  .ssp_laptop{
    height: 42vh;
    margin-top: -144%;
    margin-left: 3%;
  }
  .ssp_largescreen{
    height: 66vh;
    margin-top: -137%;
    margin-left: -21%;
  }
  .ssp_mobile{
    height: 46vh;
    margin-top: -128%;
    margin-left: 27%;
  }
  .ssp_tab{
    margin-top: -150%;
    margin-left: -40%;
  }
  .pands_Laptop{
    margin-left: 0%;
    margin-top: -231%;
    height: 44vh;
  
  }
  .pands_Largescreen{
    margin-top: -222%;
    height: 63vh;
    margin-left: -20%;
  }
  .pands_Mobile{
    margin-top: -214%;
    height: 50vh;
    margin-left: 22%;
  }
  .pands_Tab{
    margin-top: -231%;
    height: 77vh;
    margin-left: -39%;
  }
  .candc_Laptop{
    height: 43vh;
    margin-left: 8%;
    margin-top: -194%;
  }
  .candc_Largescreen{
    margin-top: -338%;
    height: 66vh;
    margin-left: -21%;
  }
  .candc_Mobile{
    height: 50vh;
    margin-top: -330%;
    margin-left: 29%;
  }
  .candc_Tab{
    height: 78vh;
    margin-left: -43%;
    margin-top: -350%;
  }
}  
@media screen and (max-width: 700px) {
  .ImageContainer{
    width:80%;
  }
  .CenterCard{
    width:70%;
  }
  .bbmobile{
    display: flex;
    margin-left: 60%;
    margin-top: -129%;
  }
  .bblargescreen{
    display: none;
  }
  .bblaptop {
    height: 43vh;
    margin-top: -156%;
    margin-left: -13%;
    width: 69%;
  }
  .bbtab {
    height: 68vh;
    margin-left: -51%;
    margin-top: -159%;
  }
  .ssp_largescreen{
    display: none;
  }
  .ssp_mobile{
    display: flex;
    margin-top: -201%;
    margin-left: 80%;
  }
  .ssp_tab{
    margin-top: -211%;
    margin-left: -50%;
    height: 80vh;
}
  .ssp_laptop{
    height: 43vh;
    margin-top: -336%;
    margin-left: -21%;
  }
  .pands_Largescreen{
    display: none;
  }
  .pands_Mobile{
    display: flex;
    margin-top: -360%;
    margin-left: 80%;
  }
  .pands_Laptop{
    height: 43vh;
    margin-top: -500%;
    margin-left: -21%;
  }
  .pands_Tab{
    margin-top: -371%;
    height: 70vh;
    margin-left: -52%;
  }
  
  .candc_Largescreen{
    display: none;
  }
  .candc_Mobile{
    display: flex;
    margin-top: -600%;
    margin-left: 60%;
  }
  .candc_Laptop{
    height: 46vh;
    margin-left: -21%;
    margin-top: -390%;
  }
  .candc_Tab{
    height: 60vh;
    margin-left: -50%;
    margin-top: -620%;
  }
  .PortfolioLeftContainer{
    width:70%;
    margin: auto;
    background-color: rgb(246, 244, 244);
    opacity: 0.9;
    padding: 20px;
  }
}
@media screen and (max-width: 500px) {
  .PortfolioLeftContainer{
    width:80%;
    margin-top: 30%;
  }

  .bbmobile{
    display: flex;
    height: 60vh;
    margin-left: 10%
  }
  .bblaptop{
    display: none;
  }
  .bbtab{
    display: none;
  }
  .ssp_laptop{
    display: none;
  }
  .ssp_largescreen{
    display: none;
  }
  .ssp_mobile{
    height: 60vh;
    margin-left: 12%;
    display: flex;
  }
  .ssp_tab{
    display: none;
  }
  .pands_Laptop{
    display: none;
  }
  .pands_Largescreen{
    display: none;
  }
  .pands_Mobile{
    height: 60vh;
    margin-left: 12%;
    display: flex;
    margin-top: -422%;
  }
  .pands_Tab{
    display: none;
  }
  .candc_Laptop{
    display: none;
  }
  .candc_Largescreen{
    display: none;
  }
  .candc_Mobile{
    height: 60vh;
    margin-top: -1478%;
    margin-left: 12%;
    display: flex;
  }
  .candc_Tab{
    display: none;
  }
  .Heading{
    text-align: center;
    font-size: 2.2rem;
  }
  
}