.PortfolioContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.PortfolioImage img {
  margin-top:10vh ;
  width: 100%;
  height:100%;
}
.LogoContainer{
  width:100%;
  height:20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}
.LogoContainer img{
  width:8%;
  object-fit: cover;
  animation-name: spinImage;
  animation-duration: 1s;
  animation-timing-function: linear;
  transform-origin: center; /* Rotate around the center */
}
@keyframes spinImage {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.ProjectContainer{
    width:100%;
    height: 100vh;
    box-shadow: 2px 2px 5px 2px rgba(139, 139, 139, 0.3);
    border-top: 1px solid rgb(218, 215, 215);
    border-bottom: 1px solid rgb(218, 215, 215);
    box-shadow: 2px 2px 5px 2px rgba(139, 139, 139, 0.3);
    background-color: rgb(246, 244, 244);
    
}
@media screen and (max-width: 1000px) {
  .PortfolioContainer{
      display: flex;
      flex-direction: column;
  }
  }