.ResumeContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width:80%;
    margin: auto;
    margin-top: 2%;
}

.OutterContainer{
    display: flex;
    flex-direction: row;
    width:100%;

    padding: 2%;
    text-align: left;
}
.OutterContainer img{
    width:100%;
    height:100%;
    margin:0px;
}
.OutterContainer i{
    font-size: 1rem !important;
}
.ResumeButton{
    width: 60%;
    padding: 3%;
    font-size: 20px;
    background: grey;
    border: none;
    color: white;
    border-radius: 5px;
}
.DisplayCenter{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}
@media screen and (max-width: 1000px){
    .MystoryContainer{
        display: flex;        
        width:90%;

    }
    
}
@media screen and (max-width: 700px){
    .ResumeContainer{
        display: flex;        
        width:80%;
        align-items: center;
    }
    .OutterContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 8% 0% 5% 0%;
    }
    
}